body {
  width: 100%;
  margin: 0;
  font-family: "brandon-grotesque", Avenir, sans-serif;
}

.container {
  max-width: 650px;
  margin: 0 auto;
  text-align: center;
}

.completed .exam {
  text-decoration: line-through;
  opacity: 0.3;
}

.exam {
  padding: 5% 5% 15% 5%;
  color: #FFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.19);
}

.exam a:link {
  color: inherit;
}

.exam a:visited {
  color: inherit;
}

.next-up h2 {
  font-size: 1.7em;
  font-weight: 700;
}

.later h2, .completed h2 {
  font-size: 1.5em;
  font-weight: 300;
}

h2 {
  margin-bottom: 12%;
}

p {
  padding: 5%;
  font-family: "proxima-nova", Avenir, sans-serif;
  font-size: 1.1em;
  background-color: rgba(225, 205, 255, 0.15);
  border-radius: 4px;
}
