body {
  width: 100%;
  margin: 0;
  font-family: "brandon-grotesque", Avenir, sans-serif;
  background-image: -webkit-linear-gradient(295deg, #210838, #838eca);
  background-image: linear-gradient(155deg, #210838, #838eca);
}

.container {
  margin: 0 auto;
  margin-bottom: 80px;
  text-align: center;
  max-width: 650px;
}

.exam {
  padding: 5% 5% 15% 5%;
  color: #FFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.19);
}

.exam a:link {
  color: inherit;
}

.exam a:visited {
  color: inherit;
}

h1 {
  font-size: 1.7em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
}

h1, h3 {
  margin-bottom: 12%;
}

p {
  padding: 5%;
  font-family: "proxima-nova", Avenir, sans-serif;
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.65);
  background-color: rgba(225, 205, 255, 0.04);
  border-radius: 4px;
}
