@font-face {
    font-family: 'opendyslexic bold';
    src: url('../uploads/dyslexic-font/opendyslexic-bold-webfont.eot');
    src: url('../uploads/dyslexic-font/opendyslexic-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../uploads/dyslexic-font/opendyslexic-bold-webfont.woff') format('woff'),
         url('../uploads/dyslexic-font/opendyslexic-bold-webfont.ttf') format('truetype'),
         url('../uploads/dyslexic-font/opendyslexic-bold-webfont.svg#opendyslexicbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opendyslexic regular';
    src: url('../uploads/dyslexic-font/opendyslexic-regular-webfont.eot');
    src: url('../uploads/dyslexic-font/opendyslexic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../uploads/dyslexic-font/opendyslexic-regular-webfont.woff') format('woff'),
         url('../uploads/dyslexic-font/opendyslexic-regular-webfont.ttf') format('truetype'),
         url('../uploads/dyslexic-font/opendyslexic-regular-webfont.svg#opendyslexicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    color: rgb(18, 25, 51);
    font-family: 'opendyslexic bold', arial, sans-serif;
    width: 600px;
    text-align: left;
    border: 0px solid;
}

p {
    font-family: 'opendyslexic regular', arial, sans-serif;
}

.next {
    color: rgb(219, 228, 255);
}
