body {
    background-color: rgb(255, 199, 86);
    color: rgb(179, 179, 179);
    font-family: quicksand, helvetica, arial, sans-serif;
    text-align: center;
    margin: 0 auto;
}

#box {
    width: 60%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border: 10px solid rgb(41, 41, 41);
    border-radius: 35px;
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 78px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 100px;
}

h2 {
    font-size: 48px;
    margin-top: 60px;
    margin-bottom: 60px;
}

h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: -4px;
}

p {
    font-size: 18px;
    line-height: 1.6em;
}

a {
    color: rgb(170, 170, 170);
    text-decoration: none;
    border-bottom: 2px solid;
}

a:hover { 
    background-color: rgb(255, 250, 199);
    color: #292929;
}

a:active {
    background-color: rgb(255, 199, 86);
}

.next {
    color: #292929;
}

.coming-up {
}

.message {
    width: 520px;
    margin: 0 auto;
    margin-top: -70px;
    margin-bottom: 100px;
    padding: 10px;
    background-color: rgb(255, 250, 199);
}

.message a {
    color: #292929;
}

.message a:hover {
    background-color: rgb(255, 199, 86);
}

#footer {
    color: #292929;
    padding-top: 20px;
    margin-bottom: 50px;
}

#footer a {
    color: #292929;
    text-decoration: none;
    border-bottom: 2px solid;
}

#footer a:hover {
   background-color: rgb(255, 245, 174);
}
