body {
    background-color: rgb(132, 255, 226);
    color: rgb(81, 211, 190);
    font-family: quicksand, helvetica, arial, sans-serif;
    text-align: center;
    margin-top: 40px;
    margin-left: 40px;
}

h1 {
    font-size: 142px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 100px;
}

h2 {
    margin-bottom: 60px;
}

h3 {
    font-weight: 700;
    margin-bottom: -4px;
}

p {
    font-size: 17px;
    font-weight: 400;
}

#next {
    color: rgb(0, 37, 39);
}

#coming-up {
}

#tomorrow {
    font-size: 100px;
}

.message {
    margin-top: -70px;
    margin-bottom: 100px;
}

