body {
    background-color: rgb(255, 199, 86);
    color: rgb(179, 179, 179);
    font-family: 'Josefin Sans', quicksand, helvetica, arial, sans-serif;
    text-align: center;
    margin: 0 auto;
}

#box {
    width: 75%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border: 10px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 89px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 100px;
}

h2 {
    font-size: 55px;
    margin-top: 60px;
    margin-bottom: 60px;
}

h3 {
    font-size: 29px;
    font-weight: 700;
    margin-bottom: -4px;
}

p {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.6em;
}

a {
    color: rgb(170, 170, 170);
    text-decoration: none;
    border-bottom: 2px solid;
}

a:hover {
   background-color: rgb(255, 248, 173);
   color: #292929;
}

.next {
    color: #292929;
}

.coming-up {
}

.message {
    margin-top: -70px;
    margin-bottom: 100px;
}

#footer {
    color: #292929;
    padding-top: 20px;
    margin-bottom: 50px;
}

#footer a {
    color: #292929;
    text-decoration: none;
    border-bottom: 2px solid;
}

#footer a:hover {
   background-color: rgb(255, 245, 174);
}
