body {
  width: 100%;
  height: 100%;
  font-family: Avenir, Helvetica, sans-serif;
  background-image: -webkit-linear-gradient(295deg, #210838, #838eca);
  background-image: linear-gradient(155deg, #210838, #838eca);
}

.container {
  margin: 0 auto;
  margin-bottom: 80px;
  text-align: center;
}

.exam {
  padding: 10% 5%;
  margin-bottom: 5%;
  color: #FFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.19);
}

h1 {
  font-size: 4em;
}

h3 {
  font-size: 4em;
  font-weight: 100;
}

p {
  padding-bottom: 5%;
  font-size: 3em;
}
